main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-conteiner {
    background-color: white;
    width: 450px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 1000px) {
    .main-conteiner {
        width: 90%;
    }
}